body {
  margin: 0px;
  padding: 0px;
}
.container {
  max-width: 960px;
}
.container-fluid {
  padding: 0px;
}
.jumbotron {
  background-color: rgba(73, 155, 234, 1);
  margin-bottom: 0;
  border-radius: 0;
}
#jumbotron-text {
  padding-top: 2.5em;
}
.logo {
  border-radius: 100%;
  border: solid 2px rgba(255, 255, 255, 0.125);
  cursor: default;
  display: inline-block;
  font-size: 2.5em;
  height: 2.25em;
  line-height: 2.25em;
  text-align: center;
  width: 2.25em;
  color: white;
  margin-top: 1em;
}
.display-4 {
  font-size: 2.5em;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  border-bottom: 1em white;
  margin-top: 1em;
}
#border {
  border-bottom: solid lightgray 1px;
}
.lead {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  padding-bottom: 2.5em;
}
#main-content {
  background-color: #2e3141;
}
.deployment {
  border-radius: 100%;
  width: 100%;
}
#main {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}
.site-description h2 {
  text-align: right;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.site-description h3 {
  text-align: right;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.15rem;
  text-transform: uppercase;
}
.site-description p {
  text-align: right;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
.pricing h2 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.pricing h3 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.15rem;
  text-transform: uppercase;
}
.table-dark {
  background-color: #2e3141;
  border: solid 0.15em #32383e;
}
.total {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.15rem;
  text-align: right;
}
.profile {
  border-radius: 100%;
  width: 100%;
}
.about h2 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.about p {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
.card {
  text-align: center;
  background-color: #32383e;
  color: white;
  border-radius: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin-bottom: 2em;
}
.card-img-top {
  border-radius: 0;
}
#footer {
  background-color: rgba(73, 155, 234, 1);
  padding-top: 2.5em;
  color: white;
}
.contact h3 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.contact p {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
.social {
  text-align: center;
}
.social a {
  color: white;
}
i.fab {
  font-size: 1.5em;
  padding: 2em 0.5em 2em 0.5em;
}
#signature {
  text-align: center;
}
